body {
    background-color: black;
    color: white;
}

#startBtn {
    display: none;
}

#playerList div {
    display: flex;
}

button {
    height: fit-content;
}

#gameDiv {
    display: none;
}

#activePlayerList div {
    display: flex;
}

#activePlayerList div * {
    margin-right: 10px;
}

#rolledDice {
    display: flex;
}

#rolledDice button {
    margin-right: 10px;
}

.heldDice {
    border: 2px solid yellow;
}