body {
    background-color: black;
    color: white;
}

#startBtn {
    display: none;
}

#playerList div {
    display: flex;
}

#playerList div button {
    height: fit-content;
}

#gameDiv {
    display: none;
}

#activePlayerList div {
    display: flex;
}