body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(main/automat/bg-purple.png);
    background-size: cover;
    overflow: hidden;
    flex-direction: column;
    image-rendering: pixelated;
}
*{
    font-family: "Tiny5", sans-serif;
    font-size: 4vh;
    font-style: normal;
}
.orientation-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orientation-overlay img {
    width: 100vw;
    height: auto;
    margin-bottom: 20px;
}

.overlay-text {
    color: white;
    text-align: center;
}

@media screen and (orientation: portrait) {
    .orientation-overlay {
        display: flex;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 70%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1vh 5vh 3vh 5vh;
}
.form-group {
    margin-bottom: 2vh;
}
.form-group label {
    display: block;
    font-weight: bold;
    color: #333;

}

.form-group input {
    width: 94%;
    padding: 1vh;
    border: 0.5vh solid #ddd;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.error {
    color: #dc3545;
    margin: 10px 0;
    text-align: center;
}

.close-button {
    position: absolute;
    right: 1vh;
    top: 1vh;
    cursor: pointer;
    background: none;
    border: none;
    color: #666;
    width: 5vh;
}

button {
    width: 35vh;
    cursor: pointer;
    border: none;
    aspect-ratio: 25 / 11;
    background-image: url(main/menu/optionbox1.png);
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    transition: transform 0.2s, filter 0.2s;
}

button:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

button:active {
  transform: scale(0.95);
}

#submitButton {
    width: 20%;
    margin: 1vh 0;
}

#toggleAuth {
    margin: 1vh 0;
    width: 20%;
    background-color: transparent;
    color: #007bff;
    text-decoration: underline;
    padding: 5px;
}

.form-group input:invalid {
    border-color: #dc3545;
}

.form-group input:valid {
    border-color: #28a745;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 70vw;
    z-index: 3;
    aspect-ratio: 191 / 81;
    background-image: url(icon/logocut.png);
    background-size: contain;
    margin: 3vh;
}
.vlad{
    position: absolute;
    bottom: 10%;
    left: 0;
    height: 70vh;
    aspect-ratio: 10 / 17;
    z-index: 0;
    filter: blur(2px) brightness(70%);
    background-image: url(robot/idlefull.gif);
    background-size: contain;
}