body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    background-image: url('main/automat/background-pixilart.png');
    background-size: cover;
    background-position: center;
}

.slot-machine-container {
    position: relative;
    width: 95vw;
    height: 50vw;
    top: 2vw;
    z-index: 5;
}

.slot-machine-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
}

.reels-container {
    position: absolute;
    display: flex;
    gap: 2vw;
    top: 27.5vw;
    left: 46.6vw;
    transform: translate(-55%, -50%);
    z-index: 2;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.reel {
width: 7.8vw;
height: 17vw;
overflow: hidden;
position: relative;
}

.symbol {
    position: absolute;
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.1s linear;
}

.symbol img {
    height: 100%;
    object-fit: contain;
}

.lever-container {
    position: absolute;
    top: 10%;
    right: 23.6vw;
    height: 45vw;
    cursor: pointer;
    z-index: 6;
  }

.lever-image {
    width: 100%;
    height: 100%;
    transform-origin: center center !important;
    transition: transform 0.5s;
    z-index: 6;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.music-container {
    position: fixed;
    right: -9vw;
    z-index: 1000;
    cursor: pointer;
    bottom: -2vw;
}

.music-toggle {
    width: 35vw;
    height: auto;
    transition: 0.3s ease;
    filter: brightness(50%) blur(1px);
}

.music-toggle:hover {
    transform: scale(1.01);
    filter: brightness(100%) blur(0);
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.shake {
    animation: shake 0.2s ease-in-out;
}

.screen{
    position: absolute;
    width: 24.7vw;
    top: 11.6vw;
    right: 37.575vw;
}
.screen img{
    position: absolute;
    width: 100%;
    height: auto;
    animation: slowflicker 3s infinite alternate;
}
#text{
    animation: flicker 0.2s infinite alternate;
}
@keyframes flicker {
    0% {
        filter: brightness(90%) drop-shadow(0 0 0.4vw rgba(255, 255, 255, 0.4));
    }
    100% {
        filter: brightness(120%) drop-shadow(0 0 0.7vw rgba(255, 255, 255, 0.7));
    }
}
@keyframes slowflicker {
    0% {
        filter: brightness(95%);
    }
    90% {
        filter: brightness(80%);
    }
    92% {
        filter: brightness(100%);
    }
    94% {
        filter: brightness(80%);
    }
    96% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(100%);
    }
}
